page-home {
  ion-grid{
    ion-col{
      padding: 0 !important;
      ion-card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin: 3px ;
        width: calc(100% - 6px)  !important;
        ion-card-title{
          color: #000000;
          font-size: 15px ;
        }
      }
      ion-card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
    }
  }
}
